.post {
  margin: 10px 300px;
  padding: 0px 50px;
  border: 2px solid #293d3d;
}

.subbar a {
  text-decoration: none;
  margin-right: 20px;
}

.answer {
  margin: 5px 50px;
  padding: 5px 10px;
  border: 2px solid #293d3d;
}
